# Commom Data Types

## Determining data types from existing tables

~~~~sql
 -- Select all columns from the TABLES system database
 SELECT * 
 FROM INFORMATION_SCHEMA.TABLES
 -- Filter by schema
 WHERE table_schema = 'public';
 
  -- Select all columns from the COLUMNS system database
 SELECT * 
 FROM INFORMATION_SCHEMA.COLUMNS 
 WHERE table_name = 'actor';
~~~~

~~~~sql
SELECT column_name,
       data_type
FROM INFORMATION_SCHEMA.COLUMNS
WHERE column_name in ('title', 'description', 'special_features')
AND table_name = 'film';
~~~~

## Date and Time Data Types

### TIMESTAMP data types
TIMESTAMPs contain both a date value and a time value with microsecond precision.
- These data types are very common because they can be used to record an exact point in time like when a payment was made or a record was last updated.

### DATE and TIME types
- DATE and TIME types are essentially the date and time values of the TIMESTAMP. 
- DATE types contain a date value with no time of day
- TIME types contain the time of day but without a date.

### INTERVAL data types
- INTERVAL types store date and time data as a period of time in years, months, days, hours, seconds, etc.
- INTERVALs are useful when you want to do arithmetic on date and time columns. 

~~~~sql
SELECT
 	-- Select the rental and return dates
	rental_date,
	return_date,
 	-- Calculate the expected_return_date
	rental_date + INTERVAL '3 days' AS expected_return_date
FROM rental;
~~~~

## Arrays
To create an ARRAY type, you simply need to add "square brackets" to the end of the data type that you want to make an array.

For instance, the following table has an email column which will be a nested array of text data to store the email type and the address for a given student_id. The test_scores column will contain an array of integer values representing the numeric test score.
~~~~sql
CREATE TABLE grades (
    student_id int,
    email text[][]
    test_scores int[]
    );
~~~~

To INSERT with ARRAYS:
~~~~sql
INSERT INTO grades
VALUES (1,
        '{{"work","work1@datacamp.com"}, {"other", "other1@datacamp.com"}}',
        '{92, 85, 96, 88}' );
~~~~

Accessing ARRAYs
- Accessing arrays in PostgreSQL is very similar to accessing arrays in other programming languages. For email, you can get the first element of the first array by using the array notation you see here with index values of 1. Note that PostgreSQL array indexes start with one and not zero.
~~~~sql
SELECT email[1][1] AS type,
       email[1][2] AS address,
       test_scores[1],
FROM grades;
~~~~

The ANY function allows you to search for a value in any index position of an ARRAY. Here's an example.
~~~~sql
SELECT
  title, 
  special_features 
FROM film 
-- Modify the query to use the ANY function 
WHERE 'Trailers' = ANY (special_features);
~~~~

The contains operator @> operator is alternative syntax to the ANY function and matches data in an ARRAY using the following syntax.
~~~~sql
SELECT 
  title, 
  special_features 
FROM film 
-- Filter where special_features contains 'Deleted Scenes'
WHERE special_features @> ARRAY['Deleted Scenes'];
~~~~

# Working with DATE/TIME Functions and Operators

## Overview of basic arithmetic operators

### Adding and subtracting date / time data

- Subtract date values, the result that is returned is an integer data type.
- When adding integers to date values, the implied precision is days.
- When we perform the same operation on timestamp data types as you see in this example, we get an INTERVAL as the result.
- The AGE function allows us to calculate the difference between two timestamps. The AGE function takes two timestamp arguments and subtracts the first argument from the second and returns an INTERVAL as a result. 

~~~~sql
SELECT f.title, f.rental_duration,
    -- Calculate the number of days rented
	AGE(r.return_date, r.rental_date) AS days_rented
FROM film AS f
	INNER JOIN inventory AS i ON f.film_id = i.film_id
	INNER JOIN rental AS r ON i.inventory_id = r.inventory_id
ORDER BY f.title;
~~~~

### Current thimestap

~~~~sql
SELECT NOW(); -- NOW() allows you to retrieve a timestamp value for the current date and time at the microsecond precision with time zone
SELECT NOW()::timestamp; -- timestamp whithout the time zone (PostgreSQL standart)
SELECT CAST(NOW() as timestamp); -- timestamp whithout the time zone
~~~~

~~~~sql
SELECT CURRENT_DATE;
SELECT CURRENT_TIME;
~~~~

### Extracting and transforming date/time data
- EXTRACT(field FROM source)
- DATE_PART('field', source)
- DATE_TRUNC() function will truncate timestamp or interval data type return a timestamp or interval at a specified precision. 
    ~~~~sql
    SELECT DATE_TRUNC('year', rental_date) AS rental_year
    ~~~~